input {
  margin: 0;
  padding-top: 1%;
  border: none;
  color: black;
}

.workerDetails td,
.workerDetails th,
.wrk_dt-sn {
  padding-top: 1px;
  padding-bottom: 1px;
}

.workerDetails {
  width: 80%;
  min-height: 200px;
  margin: 0 auto;
}

th,
tr,
td {
  border: none;
  min-width: 30%;
}

tr {
  margin-bottom: 2%;
}

.wrk_dt-sn {
  font-size: 12px;
  padding-left: 0;
  margin: 0;
  color: #ee3135;
}

table {
  margin-bottom: 15px;
  table-layout: fixed;
}
