input {
	margin:0;
	padding-top: 1%;
}

.workerDetails {
	width:80%;
	max-height: 200px;
	background-color: red;
	margin: 0 auto;
}

.workerDetails td,
.workerDetails th {
   padding-top: 1px;
   padding-bottom: 1px;
}

th,tr,td {
	border:none;
}

tr {
	margin-bottom: 2%;
}