.gitrepos p {
  width: 100;
  margin: 0;
  text-align: center;
}

.gitrepos a {
  color: #005959;
  text-decoration: none;
}

.gitrepos a:hover {
  color: #e9552c;
  cursor: pointer;
}

.h100 {
  width: 100%;
  padding-bottom: 0px;
  text-align: center;
  border-bottom: 1px lightgray solid;
}

.gr_rdsc-unl {
  text-decoration: underline;
}

.rep_desc ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rep_desc li {
  margin-bottom: 0;
  cursor: pointer;
}

.user {
  padding-left: 20%;
  font-weight: bold;
  display: block;
}

.url {
  display: block;
}