.App {
  font-size: 12px;
  
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
  "header header"
  "workersList specificworker"
}

.gitrepos {
  grid-area: gitrepos;
}
.header {
  grid-area: header;
}

.workersList {
  grid-area: workersList;
}

.specificworker {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
  "workerDetails"
  "gitrepos"
}



.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  margin-bottom: 0;
  min-width: 65px;
}

 