.App {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: 
  "header header"
  "workersList specificworker"
  "workersList specificworker"
}

.gitrepos {
  grid-area: gitrepos;
}
.header {
  grid-area: header;
}

.workersList {
  grid-area: workersList;
  border-right: 1px lightgray solid;
  height: 99vh;
}

.specificworker {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-areas:
  "workerDetails"
  "gitrepos"
}
 