body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.gitrepos a {
  text-decoration: none;
  color: #005959;
}


.gitrepos a:hover {
  color: darkgray;
  cursor: pointer;
}


.workersList {
  text-align: left;
  margin-left:
}


.workersList li:hover {
	background-color: lightgrey;
}

.wL_desc {
	padding-top: 0px;
}

.workerDetails_desc ul,
.workersList ul {
  margin-top: 10%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.workerDetails_desc li,
.workersList li {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
 cursor: pointer;
}

.wL_sp-l {
  float: left;
}

.wL_sp-r {
  float: right;
}

.wL_desc-sp {
	float: right;
	text-align: center;
}

h6 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 1.3rem;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 1.3rem;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: normal;
}

th {
  padding-top: 0px;
}

.workerDetails_desc {
  margin-top: 10px;
}

.workerDetails_desc li {
  float: left;
  margin-bottom: 10px;
}