html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto;
  overflow: hidden;
}

.wL_desc {
  padding-top: 0px;
}

.workerDetails ul,
.workersList ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.workerDetails li,
.workersList li {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
  cursor: pointer;
}

.wL_sp-l {
  float: left;
}

.wL_sp-r {
  float: right;
}

.wL_desc-sp {
  float: right;
  text-align: center;
}

h6 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 1.3rem;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 1.3rem;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: normal;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  margin-bottom: 0;
  min-width: 65px;
}